{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <meta name="Rhulani Mogotsi - Software Engineer">
    <meta name="locale" content="en_ZA">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rhulani Mogotsi, Web Developer">
    <meta name="robots" content="index, follow">
    <meta name="language" content="english">
    <meta name="description" content="Rhulani Mogotsi, an Entry-Level Software Engineer and Web Developer with 4 years of experience.">

    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_ZA">
    <meta property="og:site_name" content="Rhulani Mogotsi - Software Engineer">
    <meta property="og:url" content="https://www.rhulanimogotsi.com">
    <meta property="og:title" content="Software Engineer and Web Developer">
    <meta property="og:image" content="{% static 'images/site-image.png' %}">
    <meta property="og:description" content="an Entry-Level Software Engineer and Web Developer with 4 years of experience.">

    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <!-- CDNs -->
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.18/dist/lenis.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/blue-mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">

    <title>Rhulani Mogotsi &#149 Software Engineer</title>
</head>
<body class="themed">
    <span id="body-bg" class="themed">RHULANI MOGOTSI</span>
    <header id="header">
        <div class="container-fluid header-container">
            <nav aria-label="Primary Navigation">
                <ul class="nav-links">
                    <li class="animate__animated animate__fadeInLeft">
                        <a href="#about" class="themed">
                            About
                        </a>
                    </li>
                    <li class="animate__animated animate__fadeInLeft">
                        <a href="#education" class="themed">
                            Education
                        </a>
                    </li>
                    <li class="animate__animated animate__fadeInLeft">
                        <a href="#references" class="themed">
                            References
                        </a>
                    </li>
                    <li class="animate__animated animate__fadeInLeft">
                        <a href="#contact" class="themed">
                            Contact
                        </a>
                    </li>
                </ul>
                <div id="theme-picker">
                    <button type="button" class="theme-button light" onclick="setTheme('light-mode')">light-mode</button>
                    <button type="button" class="theme-button blue" onclick="setTheme('blue-mode')">blue-mode</button>
                    <button type="button" class="theme-button blue" onclick="setTheme('dark-mode')">dark-mode</button>
                </div>
                <ul class="site-links">
                    <a href="https://github.com/CodeMasterWinter" class="themed" target="_blank" rel="noopener noreferrer">
                        Github
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                    <a href="https://twitter.com/WinterMogotsi" class="themed" target="_blank" rel="noopener noreferrer">
                        Twitter
                       <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/rhulani-mogotsi-7bab64286" class="themed" target="_blank" rel="noopener noreferrer">
                        LinkedIn
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/rhulani-mogotsi-7bab64286" class="themed" target="_blank" rel="noopener noreferrer">
                        Resume
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </ul>           
            </nav>
            <div class="header-text">
                <div>                    
                    <h1 class="themed">
                        Rhulani Mogotsi
                    </h1>                          
                    <h3 class="themed">
                        Software Engineer
                    </h3>
                    <h3 class="themed">
                        Web Developer
                    </h3>
                </div>
                <p class="themed">A <span class="themed">curious</span> and <span class="themed">innovative</span> full-stack developer with <span class="themed"><i>3 years</i></span> of industry experience,
                    and <span class="themed"><i>5 years</i></span> of coding experience overall.
                </p>
            </div>
        </div>
    </header>
    <section id="contact">
        <div class="container-fluid contact-container">
            <h1>
                <span>Let's</span>
                <span>Make</span>
                <span>MAGIC</span>
            </h1>
        </div>
    </section>

    {% if messages %}
        <ul class="messages p-3 m-0">
            <i class="fa-solid fa-circle-check message-icon"></i>
            {% for message in messages %}
            <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="inner-cursor" class="themed"></div>
    <div id="outer-cursor" class="themed"></div>

    <script src="{% static 'js/bundle.js' %}" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <script>
        // Smooth scrolling for navigation links
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
        
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth',
                    duration: 10000,
                });
            });
        });
    </script>
</body>
</html>