* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

body {
    /* background: url(../images/grainy-bg.jpeg) fixed no-repeat;
    background-size: cover; */
    /* background: linear-gradient(135deg, #222 25%, #555 25%, #555 50%, #222 50%, #222 75%, #555 75%, #555 100%); */
}

header {
    height: 100vh;
}

.header-container{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    margin: 0 1rem;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'NIKEA';
    text-decoration: none;
    background: linear-gradient(20deg, #8a80ff, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #logo::after {
    content: "hulani";
    font-family: 'NIKEA';
    display: inline-block;
    max-width: 0%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 1s ease-in-out;
}

#logo:hover::after {
    max-width: 100%;
} */

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 1rem
}

nav ul li a {
    font-weight: 300;
    text-decoration: none;
    justify-content: center;
    font-family: 'Helvetica Neue';
    background: linear-gradient(20deg, #7D7D7D, #535353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul li a:hover {
    transform: translateX(-1rem);
    background: linear-gradient(20deg, #8a80ff, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content {
    height: calc(100% - 6rem);
}

.header-text {
    text-align: left;
}

.header-text h1 {
    font-size: 4rem;
    font-family: 'NIKEA';
    background: linear-gradient(45deg, #8a80ff, #f79f3b, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text h3 {
    font-size: 2rem;
    background: linear-gradient(20deg, #7D7D7D, #242424);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text h1,
.header-text h3 {
    text-align: center;
    text-transform: uppercase;
}

.resume-button {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    position: relative;
    color: #ffffff80;
    align-items: center;
    border-radius: 2rem;
    text-decoration: none;
    justify-content: center;
    border: 2px solid #ffffff00;
    transition: color .3s ease, border-color .3s ease;
}

.site-links ul ion-icon {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.site-links {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.site-links ul {
    margin: 1rem;
    padding: 0;
    display: flex;
    list-style: none;
    justify-self: flex-end;
    flex-direction: column;
}

.site-links ul a {
    opacity: .6;
    display: flex;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.4rem;
    align-items: center;
    text-decoration: none;
    transition: opacity .3s ease;
}

.site-links ul a:hover {
    opacity: 1;
}

.site-links ul a ion-icon {
    margin-left: .5rem;
    transition: transform .3s ease;
}

.site-links ul a:hover ion-icon {
    transform: rotate(-45deg);
}

.social-link {
    color: #ffffff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: opacity .4s ease;
}

.social-link:hover {
    opacity: 1;
}
/* 
#about {
    height: 100dvh;
    background-color: #272727;
}

.about-container {
    height: 100%;
    position: relative;
}

.about-content {
    height: 45%;
    display: flex;
}

.about-title {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.about-title::after {
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    height: .2rem;
    position: absolute;
    background-color: #ffffff;
}

#about a {
    text-decoration: none;
}

.about-tags {
    display: flex;
    min-width: 60%;
    flex-direction: column;
}

.about-tag {
    font-size: 4rem;
    color: #ffffff;
}

.about-tag span{
    color: #ca00d8;
}

.about-desc {
    width: 80%;
}

.about-text {
    color: #ffffff;
    font-size: 1.8rem;
}

.about-text span {
    color: #ca00d8;
} */

#about {
    height: 100vh;
    /* background: radial-gradient(at 52% 51%, #8a80ff 0px, transparent 50%), radial-gradient(at 93% 46%, #d74bee 0px, transparent 50%), radial-gradient(at 85% 14%, #d05911 0px, transparent 50%) #242424;
    --_mesh-gradient-blur: 100px;
    --_mesh-gradient-blend-mode: screen;
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
    filter: blur(var(--_mesh-gradient-blur)); */
}

.about-grid {
    gap: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* r */

.section-title { grid-area: 1 / 1 / 2 / 3; }
.portrait-img { grid-area: 2 / 1 / 5 / 3; }
.intro { grid-area: 2 / 3 / 4 / 6; }
.more-intro { grid-area: 4 / 4 / 5 / 6; }
.div5 { grid-area: 3 / 6 / 5 / 7; }
.div6 { grid-area: 1 / 6 / 2 / 7; } 

.about-grid .section-title {
    font-family: 'NIKEA';
    color: #ffffff86;
}

.portrait-img {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    object-fit: cover;
    border: none;
}

.portrait-img img {
    width: 100%;
    height: 100%;
}

.about-grid .intro {
    color: #fff;
    padding: 1rem;
    font-weight: 300;
    line-height: 3rem;
}

.about-grid h2 span {
    font-family: 'NIKEA';
    background: linear-gradient(45deg, #8a80ff, #f79f3b, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-grid h2 .soft {
    font-family: 'Helvetica Neue';
    background: linear-gradient(45deg, #8a80ff, #f79f3b, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-grid .more-intro {
    color: #fff;
    font-weight: 300;
}

/* Lenis CSS */

html.lenis, html.lenis body {
    height: auto;
}
    
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
    
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
    
.lenis.lenis-stopped {
    overflow: hidden;
}
    
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* Mobile - Portrait */
@media screen and (min-width: 240px) and (max-width: 428px) {

}

/* Tablet Portrait */
@media screen and (min-width: 429px) and (max-width: 810px) {
    
}

/* Tablet - Landscape */
@media screen and (min-width: 811px) and (max-width: 1080px) {

}

/* laptop */

@media screen and (min-width: 1367px) {
    
}