* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

body {
    background: url(../images/grainy-bg.jpeg) fixed no-repeat;
    background-size: cover;
    /* background: linear-gradient(135deg, #222 25%, #555 25%, #555 50%, #222 50%, #222 75%, #555 75%, #555 100%); */
}

header {
    height: 100vh;
}

.header-container{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #24242490;
    justify-content: space-between;
}

nav {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 1rem
}

nav ul li a {
    font-weight: 300;
    text-decoration: none;
    justify-content: center;
    font-family: 'Helvetica Neue';
    background: -webkit-linear-gradient(20deg, #7D7D7D, #535353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul li a:hover {
    background: -webkit-linear-gradient(20deg, #8a80ff, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content {
    height: calc(100% - 6rem);
}

.header-text {
    text-align: left;
}

.header-text h1 span {
    font-size: 3rem;
    font-family: 'NIKEA';
    background: -webkit-linear-gradient(45deg, #8a80ff, #d74bee, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text h3 span {
    opacity: .5;
    font-size: 2rem;
    background: -webkit-linear-gradient(20deg, #7D7D7D, #535353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text h1,
.header-text h3 {
    text-align: center;
    text-transform: uppercase;
    /* font-family: 'SCHABO Condensed'; */
}

.resume-button {
    margin: 2rem;
    display: flex;
    padding: 1rem 2rem;
    color: #ffffff80;
    align-items: center;
    border-radius: 2rem;
    text-decoration: none;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

ion-icon {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.site-links {
    display: flex;
}

.site-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.site-links ul a {
    opacity: .6;
    display: flex;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.4rem;
    align-items: center;
    text-decoration: none;
    transition: opacity .3s ease;
}

.site-links ul a:hover {
    opacity: 1;
}

.site-links ul a ion-icon {
    transition: transform .3s ease;
}

.site-links ul a:hover ion-icon {
    transform: translateX(.75rem);
}

.social-link {
    color: #ffffff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: opacity .4s ease;
}

.social-link:hover {
    opacity: 1;
}
/* 
#about {
    height: 100dvh;
    background-color: #272727;
}

.about-container {
    height: 100%;
    position: relative;
}

.about-content {
    height: 45%;
    display: flex;
}

.about-title {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.about-title::after {
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    height: .2rem;
    position: absolute;
    background-color: #ffffff;
}

#about a {
    text-decoration: none;
}

.about-tags {
    display: flex;
    min-width: 60%;
    flex-direction: column;
}

.about-tag {
    font-size: 4rem;
    color: #ffffff;
}

.about-tag span{
    color: #ca00d8;
}

.about-desc {
    width: 80%;
}

.about-text {
    color: #ffffff;
    font-size: 1.8rem;
}

.about-text span {
    color: #ca00d8;
} */

#about {
    height: 100dvh;
    position: relative;
    background-color: #272727;
}

.about-bg {
    top: 0;
    right: 0;
    z-index: 0;
    width: 40%;
    height: 100%;
    display: grid;
    position: absolute;
    background: url(../images/about-bg.jpg) center no-repeat;
    background-size: cover;
    mask: linear-gradient(to right, transparent, #272727);
}

.about-quote {
    width: 70%;
    display: none;
    color: #ffffff;
    font-size: 1.2rem;
    align-self: flex-end;
    justify-self: flex-end;
}

.about-container {
    height: 100%;
}

.section-header {
    height: 2.75rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
    font-weight: 100;
}

.about-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2.75rem);
    justify-content: space-evenly;
}

.about-tags {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-tag {
    font-size: 4rem;
    color: #ffffff;
}

.about-tag span{
    color: #ca00d8;
}

.about-content hr {
    width: 40%;
    height: 3px;
    opacity: 1;
    background-color: #ffffff;
}

.about-desc {
    width: 70%;
}

.about-text {
    color: #ffffff;
    font-size: 1.6rem;
}

.about-text span {
    color: #ca00d8;
}

#education {
    height: 100dvh;
    background-color: #afafaf;
}

.education-container {
    height: 100%;
}

.accolades {
    display: flex;
    align-items: center;
    height: calc(100% - 2.75rem);
}

.accolade-column {
    height: 36rem;
}

.accolade-header {
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.accolade-icon {
    height: 8rem;
    display: flex;
    color: #272727;
    fill: #272727;
    align-items: center;
    justify-content: center;
    /* animation: 6s icon-stroke forwards infinite; */
}

.hyperion-icon {
    stroke-width: 14;
}

.accolade-title {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
}

.accolade-sep {
    width: 30%;
    margin: auto;
    height: 2px;
    color: #ffffff;
}

.accolade-body {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accolade-body p {
    width: 75%;
    color: #ffffff;
    text-align: center;
}

#offcanvas-nav {
    z-index: 7;
    background-color: #272727;
}

.offcanvas-backdrop {
    z-index: 6;
}

.offcanvas-header {
    display: flex;
    min-height: 4rem;
    position: relative;
}

.nav-sep {
    width: 100%;
    height: 1px;
    color: #ffffff;
    margin-inline: auto;
}

#offcanvas-nav-logo {
    left: 0;
    top: 2rem;
    width: 5rem;
    height: 2rem;
    position: absolute;
}

.offcanvas-nav-close {
    right: 0;
    top: 1.5rem;
    width: 3rem;
    height: 3rem;
    border: none;
    color: #272727;
    font-size: 1.5rem;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
}

.offcanvas-nav-item {
    display: flex;
    min-height: 4rem;
    align-items: center;
}

.offcanvas-nav-link {
    position: relative;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    transition: transform .3s ease;
}

.offcanvas-nav-link:hover {
    transform: translateX(1.5rem);
}

.offcanvas-nav-link::after {
    top: 50%;
    width: 0;
    height: 0;
    content: '';
    left: -1.2rem;
    position: absolute;
    border-top: 10px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.offcanvas-nav-link:hover::after {
    animation: rotate 2s linear infinite;
}

.nav-social-bar {
    left: 50%;
    bottom: 1rem;
    height: 3rem;
    width: 100%;
    display: flex;
    position: absolute;
    border-radius: 4rem;
    align-items: center;
    transform: translateX(-50%);
    justify-content: space-evenly;
}

.social-bar:hover {
    border: 2px solid #ffffff;
    filter: drop-shadow(0 0 .2rem #ffffff);
}

#contact {
    display: flex;
    height: 100dvh;
    background-color: #a3a3a3;
}

.contact-bg {
    top: 0;
    left: 0;
    z-index: 0;
    width: 40%;
    height: 100%;
    display: grid;
    background: url(../images/contact-bg.jpg) center no-repeat;
    background-size: cover;
    mask: linear-gradient(to left, transparent, #272727 90%);
}

.contact-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-title {
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
}

#contact-form {
    height: 100%;
}

.form-block {
    display: flex;
    flex-direction: column;
}

.form-block label {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.form-block-prompt {
    font-size: 1.6rem;
}

.form-block input, .form-block textarea, .form-block select{
    height: 3rem;
    border: none;
    outline: none;
    padding: 1rem;
    color: #272727;
    background-color: transparent;
    transition: border 1s ease, filter 1s ease;
    border-left: 2px solid #27272742;
    border-bottom: 2px solid #27272742;
}

.form-block textarea {
    height: 90%;
}

.form-block:last-child {
    display: grid;
}

#contact-submit {
    border: none;
    height: 3rem;
    color: #ffffff;
    position: relative;
    align-self: flex-end;
    background-color: #272727;
}

#contact-submit::after{
    left: 0;
    width: 0;
    bottom: 0;
    height: 4px;
    content: '';
    position: absolute;
    background-color: #ffffff;
    transition: width 10s ease;
}

#contact-submit:hover::after {
    width: 100%;
}

#contact-submit:active::after {
    background-color: #ca00d8;
}

/* Lenis CSS */

html.lenis, html.lenis body {
    height: auto;
}
    
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
    
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
    
.lenis.lenis-stopped {
    overflow: hidden;
}
    
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* Mobile - Portrait */
@media screen and (min-width: 240px) and (max-width: 428px) {

}

/* Tablet Portrait */
@media screen and (min-width: 429px) and (max-width: 810px) {
    
}

/* Tablet - Landscape */
@media screen and (min-width: 811px) and (max-width: 1080px) {

}

/* laptop */

@media screen and (min-width: 1367px) {
    
}