:root {
    --purple: #8a80ff;
    --bg-dark: #e7dbef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

body {
    /* background-color: #FEF5EA; */
}

.container-fluid {
    padding: 1rem;
}

header {
    height: 100vh;
}

.header-container{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

nav {
    flex: .1;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}

nav ul a {
    color: #1e1e1e;
    font-weight: 300;
    text-decoration: none;
}

.nav-links li a:hover {
    transform: translateX(-1rem);
    background-color: #8a80ff70;
}

.nav-links li a span {
    margin-right: .5rem;
}

.site-links a {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    transition: opacity .3s ease;
}

.site-links a:hover {
    opacity: .5;
}

.site-links a ion-icon {
    margin-left: .5rem;
    font-size: 1.2rem;
    transition: transform .3s ease;
}

.site-links a:hover ion-icon {
    transform: rotate(-45deg);
}

.social-link {
    color: #ffffff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: opacity .4s ease;
}

.social-link:hover {
    opacity: 1;
}

.header-content {
    height: calc(100% - 6rem);
}

.header-text {
    flex: .9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text h1,
.header-text h3 {
    color: #272727;
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.header-text h1 {
    font-size: 10rem;
    margin-bottom: -1.75rem;
}

.header-text h3 {
    font-size: 5rem;
    line-height: 5rem;
    width: fit-content;
    color: var(--purple);
    margin-bottom: -.5rem;
    opacity: 0.7 !important;
    transition: color .3s ease;
}

.header-text h3:hover {
}

.header-text p {
    width: 40%;
    /* opacity: .5; */
    line-height: 1;
    font-size: 2rem;
    color: #272727;
}

/* 
#about {
    height: 100dvh;
    background-color: #272727;
}

.about-container {
    height: 100%;
    position: relative;
}

.about-content {
    height: 45%;
    display: flex;
}

.about-title {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.about-title::after {
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    height: .2rem;
    position: absolute;
    background-color: #ffffff;
}

#about a {
    text-decoration: none;
}

.about-tags {
    display: flex;
    min-width: 60%;
    flex-direction: column;
}

.about-tag {
    font-size: 4rem;
    color: #ffffff;
}

.about-tag span{
    color: #ca00d8;
}

.about-desc {
    width: 80%;
}

.about-text {
    color: #ffffff;
    font-size: 1.8rem;
}

.about-text span {
    color: #ca00d8;
} */

#about {
    height: 100vh;
    /* background: radial-gradient(at 52% 51%, #8a80ff 0px, transparent 50%), radial-gradient(at 93% 46%, #d74bee 0px, transparent 50%), radial-gradient(at 85% 14%, #d05911 0px, transparent 50%) #242424;
    --_mesh-gradient-blur: 100px;
    --_mesh-gradient-blend-mode: screen;
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
    filter: blur(var(--_mesh-gradient-blur)); */
}

.about-grid {
    gap: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* r */

.section-title { grid-area: 1 / 1 / 2 / 3; }
.portrait-img { grid-area: 2 / 1 / 5 / 3; }
.intro { grid-area: 2 / 3 / 4 / 6; }
.more-intro { grid-area: 4 / 4 / 5 / 6; }
.div5 { grid-area: 3 / 6 / 5 / 7; }
.div6 { grid-area: 1 / 6 / 2 / 7; } 

.about-grid .section-title {
    font-family: 'NIKEA';
    color: #ffffff86;
}

.portrait-img {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    object-fit: cover;
    border: none;
}

.portrait-img img {
    width: 100%;
    height: 100%;
}

.about-grid .intro {
    color: #fff;
    padding: 1rem;
    font-weight: 300;
    line-height: 3rem;
}

.about-grid h2 span {
    font-family: 'NIKEA';
    background: linear-gradient(45deg, #8a80ff, #f79f3b, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-grid h2 .soft {
    font-family: 'Helvetica Neue';
    background: linear-gradient(45deg, #8a80ff, #f79f3b, #d74bee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-grid .more-intro {
    color: #fff;
    font-weight: 300;
}

/* Lenis CSS */

html.lenis, html.lenis body {
    height: auto;
}
    
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
    
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
    
.lenis.lenis-stopped {
    overflow: hidden;
}
    
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* Mobile - Portrait */
@media screen and (min-width: 240px) and (max-width: 428px) {

}

/* Tablet Portrait */
@media screen and (min-width: 429px) and (max-width: 810px) {
    
}

/* Tablet - Landscape */
@media screen and (min-width: 811px) and (max-width: 1080px) {

}

/* laptop */

@media screen and (min-width: 1367px) {
    
}