:root {
    --malibu: #8a80ff;
    --light-blue: #4B6CB7;
    --dark-blue: #182848;
    --charcoal: #272727;
}

* {
    margin: 0;
    padding: 0;
    /* cursor: none; */
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'PPMori';
}

.themed {
    transition: color 2s ease, background-color 2s ease;
}

body {
    background-color: #ffffff;
    /* background: url(../images/bg.png) fixed no-repeat;
    background-size: cover; */
}

#body-bg {
    z-index: -1;
    opacity: .05;
    position: fixed;
    font-size: 60rem;
    text-wrap: nowrap;
    max-width: 200rem;
    margin-top: -20rem;
    color: var(--malibu);
    pointer-events: none;
    font-family: 'SCHABO Condensed';
}

#cursor {
    top: 5rem;
    left: 5rem;
    z-index: 99;
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    transition: width .5s ease, height .5s ease;
}

#cursor.hover {
    width: 3rem;
    height: 3rem;
}

#cursor.active {
    mix-blend-mode: normal;
    background-color: #8a80ff;
}

.container-fluid {
    padding: 1rem;
}

header {
    height: 100vh;
}

.header-container{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

nav {
    flex: .1;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}

nav ul a {
    color: var(--charcoal);
    font-weight: 300;
    font-size: 1.4rem;
    text-decoration: none;
}

.nav-links li a {
    display: block;
    transition: transform .3s ease;
}

.nav-links li a:hover {
    opacity: .7;
    transform: translateX(-.5rem);
}

.nav-links li a span {
    margin-right: .5rem;
}

#theme-picker {
    display: flex;
    align-items: last baseline;
    flex-direction: column;
    justify-content: space-between;
}

#theme-picker button {
    border: none;
    margin: .5rem 0;
    color: #ffffff;
    border-radius: 4px;
    padding: .2rem 1rem;
    background-color: var(--charcoal);
}

.site-links a {
    display: flex;
    align-items: center;
}

.site-links a:hover {
    opacity: .7;
    /* color: var(--purple); */
}

.site-links a ion-icon {
    margin-left: .5rem;
    font-size: 1.2rem;
    transition: transform .3s ease;
}

.site-links a:hover ion-icon {
    transform: rotate(-45deg);
}

.header-content {
    height: calc(100% - 6rem);
}

.header-text {
    flex: .9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text h1,
.header-text h3 {
    color: var(--charcoal);
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.header-text h1 {
    font-size: 10rem;
    margin-top: -1rem;
    margin-bottom: -1.75rem;
}

.header-text h3 {
    font-size: 5rem;
    line-height: 5rem;
    width: fit-content;
    color: var(--malibu);
    margin-bottom: -.5rem;
    transition: color .5s ease;
}

.header-text h3:hover {
    color: var(--malibu);
}

.header-text p {
    margin: 0;
    width: 40%;
    line-height: 1;
    font-size: 2rem;
    color: #27272770;
}

.header-text p span {
    color: #272727;
    transition: color .5s ease;
}

.header-text p span:hover {
    color: var(--malibu);
}

.quote-separator {
    height: 75vh;
    display: grid;
    place-items: center;
}

.quote-separator p {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
}

.quote-separator p span {
    font-size: 1rem;
}

#about {
    min-height: 100vh;
}

.about-container {
    height: 100%;
}

.about-intro {
    width: 45%;
}

.about-intro h2 {
    font-size: 5rem;
    color: var(--malibu);
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.about-intro p {
    font-size: 3rem;
    line-height: 1;
}

.about-intro p span{
    color: var(--malibu);
}

#contact {
    height: 100vh;
}

.contact-container {
    height: 100%;
    display: flex;
}

.contact-container h2 {
    width: 25%;
    height: 100%;
    display: flex;
    font-size: 10rem;
    color: var(--charcoal);
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.contact-container h2 span {
    font-family: 'SCHABO Condensed';
}

.contact-container h2 span:last-child {
    color: var(--malibu);
}

#contact form {
    display: flex;
    font-size: 2rem;
    margin-left: 3rem;
    flex-direction: column;
    justify-content: space-between;
}

#contact form .submit-group {
    display: flex;
    justify-content: space-between;
}

.button-group {
    display: flex;
    align-items: flex-end;
}

#contact form label {
    display: none;
}

#contact form input,
#contact form textarea {
    border: none;
    outline: none;
    margin-top: 1rem;
    background: none;
    /* padding-top: 1rem;
    padding-left: 1rem; */
    color: var(--charcoal);
    transition: border-color .5s ease;
    border-bottom: 5px dotted #27272770;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    opacity: .5;
}

#contact form input:focus,
#contact form textarea:focus {
    border-color: var(--malibu);
}

#contact form input {
    padding-left: 1rem;
}

#contact form button {
    border: none;
    overflow: hidden;
    color: #ffffff;
    font-size: 1.4rem;
    position: relative;
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
    background-color: var(--charcoal);
}

#contact form button:hover {
    background-color: var(--malibu);
}

.messages {
    position: fixed;
    background-color: red;
    width: 10rem;
    height: 8rem;
    color: white;
}
    

html.lenis, html.lenis body {
    height: auto;
}
    
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
    
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
    
.lenis.lenis-stopped {
    overflow: hidden;
}
    
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* Mobile - Portrait */
@media screen and (min-width: 240px) and (max-width: 428px) {

}

/* Tablet Portrait */
@media screen and (min-width: 429px) and (max-width: 810px) {
    
}

/* Tablet - Landscape */
@media screen and (min-width: 811px) and (max-width: 1080px) {

}

/* desktop */
@media screen and (min-width: 1601px) {

    .header-text h1 {
        font-size: 16rem;
        margin-bottom: -3rem;
    }

    .header-text h3 {
        font-size: 6.4rem;
        margin-bottom: .5rem;
    }

    #body-bg {
        font-size: 80rem;
        max-width: 260rem;
        margin-top: -20rem;
    }

    .contact-container h2 {
        font-size: 14rem;
    }

    #contact form {
        margin: 5rem 10rem;
    }

    #contact form textarea {
        width: 100%;
    }
}