* {
    transition: height .5s ease;
}

:root {
    --malibu: #8a80ff;
    --light-blue: #4B6CB7;
    --dark-blue: #182848;
    --charcoal: #272727;
}

* {
    margin: 0;
    padding: 0;
    /* cursor: none; */
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'PPMori';
}

.themed {
    transition: color 2s ease, background-color 2s ease;
}

body {
    background-color: #ffffff;
}

#body-bg {
    z-index: -1;
    opacity: .05;
    line-height: 1;
    position: fixed;
    font-size: 80rem;
    text-wrap: nowrap;
    max-width: 260rem;
    color: var(--malibu);
    pointer-events: none;
    font-family: 'SCHABO Condensed';
}

#cursor {
    top: 5rem;
    left: 5rem;
    z-index: 99;
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    transition: width .5s ease, height .5s ease;
}

#cursor.hover {
    width: 3rem;
    height: 3rem;
}

#cursor.active {
    mix-blend-mode: normal;
    background-color: #8a80ff;
}

.container-fluid {
    padding: 1rem;
}

header {
    height: 100vh;
}

.header-container{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

nav {
    flex: .1;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: space-between;
}

nav ul,
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}

nav ul a,
.footer-nav ul a {
    color: var(--charcoal);
    font-weight: 300;
    font-size: 1.4rem;
    text-decoration: none;
}

#theme-picker {
    display: flex;
    align-items: last baseline;
    flex-direction: column;
    justify-content: space-between;
}

#theme-picker button {
    border: none;
    margin: .5rem 0;
    color: #ffffff;
    border-radius: 4px;
    padding: .2rem 1rem;
    background-color: var(--charcoal);
}

.site-links a,
.footer-nav ul a {
    display: flex;
    align-items: center;
}

.site-links a:hover,
.nav-links a:hover {
    opacity: .7;
    /* color: var(--purple); */
}

.site-links a ion-icon,
.footer-nav ul a ion-icon {
    margin-left: .5rem;
    font-size: 1.2rem;
    transition: transform .3s ease;
}

.site-links a:hover ion-icon {
    transform: rotate(-45deg);
}

.nav-links a:hover ion-icon {
    transform: translateX(.5rem);
}

.header-content {
    height: calc(100% - 6rem);
}

.header-text {
    flex: .9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text h1,
.header-text h3 {
    color: var(--charcoal);
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.header-text h1 {
    line-height: 1;
    font-size: 16rem;
    margin-bottom: -2rem;
}

.header-text h3 {
    font-size: 7rem;
    line-height: 1;
    width: fit-content;
    color: var(--malibu);
    margin-bottom: -.5rem;
    transition: color .5s ease;
}

.header-text h3:hover {
    color: var(--malibu);
}

.header-text p {
    margin: 0;
    width: 40%;
    line-height: 1;
    font-size: 2rem;
    color: #27272770;
}

.header-text p span {
    color: #272727;
    transition: color .5s ease;
}

.header-text p span:hover {
    color: var(--malibu);
}

.quote-separator {
    height: 50vh;
    display: grid;
    place-items: center;
}

.quote-separator p {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
}

.quote-separator p span {
    font-size: 1rem;
}

#about {
    height: 100vh;
}

.about-container {
    height: 100%;
    display: flex;
    /* padding: 5rem; */
}

.about-img {
    width: 30%;
    height: 100%;
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.about-text {
    width: 70%;
    height: 100%;
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: space-between;
}

.about-intro {
    line-height: 1;
    font-size: 3.2rem;
}

.about-intro span,
.about-personal span {
    color: var(--malibu);
}

.about-personal {
    margin: 0;
    line-height: 1;
    font-size: 2rem;
    word-spacing: -.25rem;
}

.about-location {
    display: flex;
    align-items: center;
}

.about-location ion-icon {
    font-size: 8rem;
    margin-right: 1rem;
}

.about-location p {
    margin: 0;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.about-location p span {
    font-size: 3.5rem;
    color: var(--malibu);
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

#work {
    margin-top: 10rem;
}

.work-container {
    height: 100%;
    /* padding: 5rem; */
}

.work-container h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.work-panel {
    height: 16rem;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-top: 1px solid #27272750;
}

.panel-details {
    flex: .4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel-img {
    /* flex: .3; */
    height: 100%;
    display: inline;
}

.panel-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.work-panel h3,
.work-panel span {
    line-height: 1;
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.work-panel h3 span {
    color: var(--malibu);
}

.panel-date,
.panel-services li {
    line-height: 1;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.panel-links {
    display: flex;
}

.site-link {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #272727;
}

.visit-link {
    width: auto;
    border-radius: 2rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

.site-link ion-icon {
    font-size: 1.4rem;
}

.visit-link ion-icon {
    margin-left: .5rem;
    transition: transform .3s ease;
}

.visit-link:hover ion-icon {
    transform: rotate(-45deg);
}

.panel-services {
    margin: 0;
    padding: 0;
    flex: .3;
    list-style: none;
}

.panel-services li {
    line-height: 1.2;
}

#contact {
    height: 100vh;
}

.contact-container {
    height: 100%;
    display: flex;
    padding: 10rem 2rem;
    /* justify-content: space-between; */
}

.contact-container h2 {
    width: 25%;
    height: 100%;
    display: flex;
    font-size: 12rem;
    color: var(--charcoal);
    flex-direction: column;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}

.contact-container h2 span {
    color: var(--malibu);
    font-family: 'SCHABO Condensed';
}

#contact form {
    width: 100%;
    display: flex;
    font-size: 2rem;
    margin-left: 3rem;
    flex-direction: column;
    justify-content: space-between;
}

#contact form br {
    display: none;
}

#contact form.responsive {
    display: none;
}

#contact form .submit-group {
    display: flex;
    justify-content: space-between;
}

.button-group {
    display: flex;
    align-items: flex-end;
}

#contact form label {
    display: none;
}

#contact form input,
#contact form textarea {
    border: none;
    outline: none;
    margin-top: 1rem;
    background: none;
    /* padding-top: 1rem;
    padding-left: 1rem; */
    color: var(--charcoal);
    transition: border-color .5s ease;
    border-bottom: 5px dotted #27272770;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    opacity: .5;
}

#contact form input:focus,
#contact form textarea:focus {
    border-color: var(--malibu);
}

#contact form input {
    padding-left: 1rem;
}

#contact form button {
    border: none;
    overflow: hidden;
    color: #ffffff;
    font-size: 1.4rem;
    position: relative;
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
    background-color: var(--charcoal);
}

#contact form button:hover {
    background-color: var(--malibu);
}

.messages {
    position: fixed;
    background-color: red;
    width: 10rem;
    height: 8rem;
    color: white;
}

html.lenis, html.lenis body {
    height: auto;
}
    
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
    
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
    
.lenis.lenis-stopped {
    overflow: hidden;
}
    
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

footer {
    height: 90vh;
    margin-top: 5rem;
    background-color: var(--charcoal);
}

.footer-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.footer-nav {
    display: flex;
    padding: 2rem;
    /* justify-content: space-between; */
}

.footer-nav ul {
    margin: 0 2rem;
}

.footer-nav ul a {
    display: flex;
    color: #ffffff;
    align-items: center;
    text-decoration: none;
}

.footer-nav .copyright,
.footer-nav .region {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.4rem;
    text-decoration: none;
}

.footer-nav .region ion-icon {
    font-size: 3rem;
}

.footer-nav .region,
.footer-nav .copyright {
    margin: 0 1rem 0 0;
    padding: 0 5rem 0 0;
    border-right: .5px solid #ffffff50;
}

.footer-brand {
    left: 50%;
    /* opacity: .3; */
    bottom: -6rem;
    line-height: 1;
    font-size: 25rem;
    overflow: hidden;
    text-wrap: nowrap;
    position: absolute;
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(-50%);
    font-family: 'SCHABO Condensed';
}

.footer-brand span {
    color: var(--malibu);
    text-transform: uppercase;
    font-family: 'SCHABO Condensed';
}