:root {
    --malibu: #8a80ff;
    --cream: #FFF9EB;
    --charcoal: #000000;
}

@media screen and (min-width: 240px) and (orientation: portrait) {
    #logo-bg img {
        top: 100%;
        width: 100vw;
        height: auto;
    }

    #cursor {
        display: none;
    }

    nav {
        display: none;
    }

    .nav-toggle {
        top: 1rem;
        right: 1rem;
        z-index: 99;
        border: none;
        display: block;
        position: absolute;
        background: transparent;
    }
    
    .nav-toggle ion-icon {
        font-size: 2rem;
        color: var(--cream);
    }

    .header-container {
        padding: .5rem;
    }

    .header-img {
        height: 90%;
    }
    
    .header-img .overlay .attributes{
        font-size: .75rem;
    }

    .header-text {
        height: 10%;
        flex-direction: column;
        justify-content: center;
    }

    .header-text h1,
    .header-text h2 {
        text-align: center;
    }

    .header-text h1 {
        font-size: 2.5rem;
        margin-bottom: .2rem;
    }

    .header-text h2 {
        font-size: 1.2rem;
    }

    .header-text h2.tagline {
        display: none;
    }

    .header-text h2.responsive {
        display: inline-block;
    }

    #about {
        height: 100%;
    }

    .about-container {
        padding: 1rem;
    }

    .about-text {
        width: 100%;
        flex-direction: column;
    }

    .about-text .text-content {
        width: 100%;
    }

    .about-text h2 {
        width: 100%;
        font-size: 1.7rem;
    }
    
    .about-text p {
        width: 100%;
        font-size: 1rem;
    }

    .about-text .images {
        width: 100%;
        margin: 5rem 0;
        max-height: none;
    }

    .about-text .images img {
        width: 100%;

    }

    .skills {
        flex-direction: column;
    }

    .section-title {
        font-size: 2rem;
    }

    .work-container {
        padding: 0 .5rem;    
    }

    .work-panel {
        padding: 1rem 0;
        flex-direction: column;
    }

    .panel-details {
        margin-bottom: 2rem;
    }

    .work-panel h3 {
        font-size: 1.4rem;
    }

    .work-panel h5,
    .panel-date {
        margin: 0;
        font-size: .9rem;
    }

    .panel-links,
    .panel-services {
        display: none;
    }

    .panel-slides {
        width: 100%;
        max-height: none;
    }

    .panel-slides img {
        width: 100%;
    }
}

@media screen and (min-width: 1366px) and (orientation: portrait) {
    
    #cursor {
        display: none;
    }

    .header-img {
        height: 90%;
    }
    
    .header-text {
        height: 10%;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .header-text h1 {
        font-size: 3.5rem;
    }
    
    .header-text h2.responsive {
        display: none;
    }
    
    .header-text h2.tagline {
        text-align: right;
        display: inline-block;
    }

    .about-text h2 {
        font-size: 3rem;
    }

    .panel-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .panel-links {
        display: flex;
    }
}

@media screen 
and (min-width: 768px) 
and (max-width: 1366px)
and (orientation: landscape) {
    
    #cursor {
        display: none;
    }
    
    nav ul a,
    .footer-nav ul a {
        font-size: .75rem;
    }

    .header-text h1 {
        font-size: 4rem;
    }

    #about {
        min-height: 100vh;
    }

    .about-container {
        padding: 2rem;
    }

    .about-text h2 {
        width: 100%;
        font-size: 2rem;
    }

    .about-text p {
        width: 70%;
        font-size: .9rem;
    }

    .about-text .images {
        width: 50%;
    }

    .about-text .images img {
        width: 100%;
        height: auto;
    }

    .skills .column h3 {
        font-size: 2rem;
    }
        
    .badge {
        font-size: 0.75rem;
        padding: .4rem 8px;
    }

    .work-container {
        padding: 1rem;
    }

    .work-panel h3 {
        font-size: 1.2rem;
    }

    .work-panel h5,
    .panel-date {
        margin: 0;
        font-size: .9rem;
    }

    .panel-services {
        display: none;
    }

    .panel-slides {
        flex: .6;
    }

}