/* larger laptops */
@media screen and (max-width: 1440px){

    .header-text h1 {
        font-size: 10rem;
        margin-bottom: -1rem;
    }

    .header-text h3 {
        font-size: 5rem;
        /* margin-bottom: .5rem; */
    }

    nav ul a,
    .footer-nav ul a {
        font-size: 1.4rem;
    }

    .header-text p {
        font-size: 1.8rem;
    }

    .quote-separator p {
        font-size: 1.6rem;
    }

    .about-intro {
        font-size: 3rem;
    }

    .about-personal {
        font-size: 2rem;
    }

    .contact-container {
        padding: 1rem;
    }

    .footer-brand {
        font-size: 21rem;
    }
}

/* tablet - Landscape */
@media screen and (max-width: 1280px){
    .header-text h1 {
        font-size: 8rem;
        margin-bottom: -1rem;
    }

    .header-text h3 {
        font-size: 4rem;
        /* margin-bottom: .5rem; */
    }

    nav ul a,
    .footer-nav ul a {
        font-size: 1.2rem;
    }

    .header-text p {
        width: 40%;
        font-size: 1.6rem;
    }

    .quote-separator {
        height: 75vh;
    }

    .quote-separator p {
        font-size: 1.2rem;
    }

    .about-intro {
        font-size: 2.4rem;
    }

    .about-personal {
        font-size: 1.8rem;
    }

    .contact-container {
        padding: 1rem;
    }

    .contact-container h2 {
        font-size: 10rem;
    }
    
    .footer-brand {
        font-size: 17rem;
    }
}

/* Tablet - Portrait */
@media screen and (max-width: 768px) {
    .header-text h1 {
        font-size: 10rem;
    }

    .header-text h3 {
        font-size: 4.75rem;
    }

    .header-text p {
        font-size: 2.4rem;
    }

    .quote-separator {
        /* height: 25vh; */
    }

    .quote-separator p {
        font-size: 1.6rem;
    }

    .about-img {
        height: 40%;
    }

    .about-intro {
        font-size: 2.4rem;
    }

    .about-location {
        justify-content: right;
    }

    #work {
        margin-top: 5rem;
    }

    #work h2 {
        font-size: 5rem;
        text-align: left;
    }

    .panel-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .panel-title h3 {
        font-size: 2.5rem;
    }

    .panel-title p {
        margin: 0;
        font-size: 1.6rem;
    }
}

/* Mobile - Portrait */
@media screen and (min-width: 240px) and (max-width: 767px) {
    #cursor {
        display: none;
    }

    nav {
        display: none;
    }

    .header-text {
        flex: 1;
    }

    #header, #about {
        /* height: 100dvh; */
    }

    .header-text h1 {
        margin-bottom: 0;
        font-size: 4.4rem;
        text-align: center;
    }

    .header-text h3 {
        width: 100%;
        font-size: 2.05rem;
        text-align: center;
    }

    .header-text h3 br {
        display: none;
    }

    .header-text p {
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
    }

    .quote-separator {
        /* height: 30vh; */
        padding: 0 1rem;
    }

    .quote-separator p {
        font-size: 1.2rem;
    }

    .about-container {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        height: 30%;
    }

    .about-img img {
        /* object-position: 80%; */
    }

    .about-text {
        width: 100%;
        padding: 0;
        margin: 2rem 0;
    }

    .about-intro {
        font-size: 1.6rem;
    }

    .about-personal {
        display: none;
    }

    .about-text .d-flex {
        align-items: center;
    }

    .about-location {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .about-location ion-icon {
        margin-right: 0;
    }

    #work {
        margin-top: 2rem;
    }
    
    #work h2 {
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .work-panel {
        height: 100%;
        padding: 1rem 0;
        min-height: 16rem;
        flex-direction: column;
    }

    .panel-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .panel-title p {
        margin: 0;
        font-size: 1.6rem;
    }

    .work-panel .panel-details h3,
    .work-panel .panel-details h3 span {
        font-size: 2rem;
    }

    .work-panel .panel-links {
        display: none;
    }

    .panel-services {
        padding: 1rem 0;
    }

    .panel-services li {
        line-height: 1;
        font-size: 1rem;
        display: inline-block;
    }

    #contact {
        height: 100%;
    }

    .contact-container {
        padding: 0;
        flex-direction: column;
    }

    .contact-container h2 {
        width: 100%;
        line-height: 1;
        font-size: 4.5rem;
        white-space: nowrap;
        flex-direction: row;
        justify-content: center;
    }

    .contact-container h2 br {
        display: none;
    }

    .contact-container h2 span {
        width: min-content;
        margin-inline-start: .4rem;
    }

    #contact form {
        margin-left: 0;
        font-size: 1.2rem;
    }

    #contact form {
        display: none; /* Hide all elements inside the form */
    }

    #contact form.responsive {
        display: flex;
        padding: 1rem;
        flex-direction: column;
    }
    
    #contact form .form-group {
        margin: 1rem 0;
    }

    #contact form label {
        display: block;
        margin-bottom: .5rem;
    }

    #contact form input,
    #contact form textarea {
    margin: 0;
    width: 100%;
    border-bottom: 2px dotted #27272770;
    }

    #contact form input {
        padding-left: .5rem;
    }

    #contact form .submit-group {
        flex-direction: column;
    }

    #contact form button {
        font-size: 1.2rem;
    }
    
    footer {
        height: 100%;
        margin-top: 2rem;
    }

    .footer-nav {
        padding: 0;
        flex-direction: column;
    }

    .footer-nav .region,
    .footer-nav .copyright {
        padding: 0;
        border: none;
        font-size: 1rem;
        margin: 0 0 1.6rem 0;
    }

    .footer-nav ul {
        display: none;
    }
    
    .footer-brand {
        display: none;
    }
}