/* Mobile - Portrait */
@media screen and (min-width: 240px) and (max-width: 428px) {
    #cursor {
        display: none;
    }

    nav {
        display: none;
    }

    .header-text {
        flex: 1;
    }

    #header {
        height: 100dvh;
    }

    .header-text h1 {
        margin-bottom: 0;
        font-size: 4.2rem;
        text-align: center;
    }

    .header-text h3 {
        font-size: 2rem;
        display: inline;
        text-align: center;
    }

    .header-text p {
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
    }

    .quote-separator {
        /* height: 30vh; */
        padding: 0 1rem;
    }

    .quote-separator p {
        font-size: 1.2rem;
    }

    #about, #work, #contact, footer {
        display: none;
    }
}

/* Tablet Portrait */
@media screen and (min-width: 429px) and (max-width: 810px) {
    
}

/* Tablet - Landscape */
@media screen and (min-width: 811px) and (max-width: 1080px) {

}


/* small laptop */
@media screen and (min-width: 1280px) {
    .header-text h1 {
        font-size: 8rem;
        margin-bottom: -1rem;
    }

    .header-text h3 {
        font-size: 4rem;
        /* margin-bottom: .5rem; */
    }

    nav ul a,
    .footer-nav ul a {
        font-size: 1.2rem;
    }

    .header-text p {
        width: 40%;
        font-size: 1.6rem;
    }

    .quote-separator {
        height: 75vh;
    }

    .quote-separator p {
        font-size: 1.2rem;
    }

    .about-intro {
        font-size: 2.4rem;
    }

    .about-personal {
        font-size: 1.8rem;
    }

    .contact-container h2 {
        font-size: 10rem;
    }
    
    .footer-brand {
        font-size: 17rem;
    }
}

/* larger laptops */
@media screen and (min-width: 1441px) and (max-width: 1600px){

    .header-text h1 {
        font-size: 10rem;
        margin-bottom: -1rem;
    }

    .header-text h3 {
        font-size: 5rem;
        /* margin-bottom: .5rem; */
    }

    nav ul a,
    .footer-nav ul a {
        font-size: 1.4rem;
    }

    .header-text p {
        font-size: 1.8rem;
    }

    .quote-separator p {
        font-size: 1.6rem;
    }

    .about-intro {
        font-size: 3rem;
    }

    .about-personal {
        font-size: 2rem;
    }

    .footer-brand {
        font-size: 21rem;
}
}