@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

header {
    height: 100vh;
    background: linear-gradient(to top, #00051a, #01052b);
}

.header-row, .header-container{
    height: 100%;
    position: relative;
}

nav {
    top: 5vh;
    left: 50%;
    width: 100%;
    max-width: 36rem;
    position: absolute;
    border-radius: 10vh;
    transform: translateX(-50%);
    animation: 3s fadeIn;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0;
    padding: 0 2rem;
    min-width: fit-content;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
}

.nav-item.active {
    position:unset;
    background: none;
}

.nav-item.active::before,
.nav-item.active::after {
    display: none;
}

.nav-item:hover{
    text-shadow: 0px 0px 5px #8f1e8f;
}

.nav-link {
    height: 60%;
    display: flex;
    font-size: 1rem;
    position: relative;
    align-items: center;
    color: #ffffff;
    font-family: "Source Code Pro";
    justify-content: center;
}

.nav-link:hover,
.nav-link:visited {
    color: #ffffff;
}

.nav-link.active{
    font-weight: 700;
}

.nav-link.active::after {
    width: 30%;
    left: 50%;
    bottom: 0;
    content: '';
    height: 4px;
    margin-top: 10px;
    position: absolute;
    background: #ffffff;
    border-radius: 1vh;
    transition: 0.3s all;
    transform: translateX(-50%);
}

.nav-link::after {
    left: 50%;
    bottom: 0;
    content: '';
    width: 0;
    height: 4px;
    margin-top: 10px;
    position: absolute;
    background: #ffffff;
    border-radius: 1vh;
    transition: 0.3s all;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 70%;
}

.social-bar {
    right: 0;
    top: 5vh;
    z-index: 6;
    margin-right: 2vw;
    position: absolute;
    border-radius: 5vh;
    animation: 1.5s fadeInUp;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-link {
    padding-block: 0.5rem;
    display: block;
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
    transition: 0.3s all;
}

.social-link:hover {
    opacity: 1;
}

.floating-head {
    height: 75%;
    position: relative;
}

.floating-head img {
    height: 100%;
    filter: drop-shadow(0 5px 20px #d525f8);
}

.header-content {
    z-index: 6;
}

.header-title,
.header-tagline {
    font-size: 5rem;
    font-family: "Urbanist";
}

.header-title {
    display: block;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #ffffff;
    font-weight: 800;
}

.header-tagline {
    color: #d525f8;
    font-weight: 900;
    text-shadow: 0px 0px 10px #8f1e8f;
}

.header-text {
    width: 90%;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
    font-family: "Source Code Pro";
}

.header-text #name {
    color: #d525f8;
    text-shadow: 0px 0px 2px #8f1e8f;
}

.scroller {
    z-index: 4;
    bottom: 5vh;
    overflow: hidden;
    max-width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-mask: linear-gradient(90deg, transparent, #ffffff 20%, #ffffff 80%, transparent);
    mask: linear-gradient(90deg, transparent, #ffffff 20%, #ffffff 80%, transparent);
}

.scroller__inner {
    gap: 1rem;
    margin: 0;
    width: max-content;
    padding-block: 2rem;
    display: flex;
    padding-inline: 0;
    list-style: none;
    animation: scroll 20s linear infinite;
}

.marquee-skill {
    color: #ffffff;
    padding: 1rem;
    font-family: "Source Code Pro";
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.magneto {
    left: 50%;
    bottom: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.magneto:hover {
    filter: drop-shadow(0 5px 20px #d525f8);
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}