* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots';
}

body {
    animation: bodyscroll 6s forwards;
}

#splash {
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000;
    animation: splash 1s forwards 5s;
}

#splash-logo {
    top: 0;
    left: 0;
    z-index: 5;
    margin: 3.5rem;
    stroke-width: 3;
    position: fixed;
    animation: 6s logo-stroke ease forwards;
}

header {
    height: 100vh;
    overflow: hidden;
    background: #bebebe;
}

.header-container{
    height: 100%;
    position: relative;
}

nav {   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list {
    top: 3rem;
    width: 36rem;
    display: flex;
    list-style: none;
    position: absolute;
    align-items: center;
    border-radius: 4rem;
    backdrop-filter: blur(5px);
    justify-content: space-evenly;
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
    opacity: .5;
    color: #ffffff;
    font-family: 'Source Code Pro';
    transition: opacity .2s ease, transform .2s ease;
}

.nav-link:hover {
    opacity: 1;
    color: #ffffff;
    transform: translate3d(-.3rem, 0, 0);
}

#menu {
    border: none;
    display: none;
    background: none;
}

#menu .icon {
    font-size: 1.2;
    color: #ffffff;
}

#cursor {
    visibility: hidden;
}

.nav-link:hover #cursor {
    visibility: visible;
    animation: 1s infinite steps(1) blink;
}

#header-logo {
    top: 0;
    left: 0;
    margin: 3.5rem;
    position: absolute;
}

#splash-logo {
    top: 0;
    left: 0;
    z-index: 5;
    margin: 3.5rem;
    stroke-width: 3;
    position: fixed;
    animation: 6s logo-stroke ease forwards;
}

.header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-img {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 35%;
    height: 85%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.header-img img {
    height: 100%;
}

.header-text {
    z-index: 2;
}

.header-title {
    font-size: 8rem;
    font-weight: 800;
    color: #ffffff;
    
}

.header-tagline {
    font-size: 4rem;
    stroke-width: 2;
    font-weight: 900;
    color: #272727;
    font-family: 'Zen Dots';
}

.header-title,
.header-tagline {
    text-wrap: nowrap;
}

.magneto {
    left: 50%;
    bottom: -2rem;
    width: 10rem;
    filter: none;
    height: 10rem;
    display: flex;
    cursor: pointer;
    color: #ffffff;
    background: none;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-family: 'Source Code Pro';
    transform: translate(-50%, -50%);
    animation: pulsate 10s infinite;
    transition: border 1s ease, filter 1s ease;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.magneto:hover {
    animation: none;
    border: 2px solid #ffffff;
    filter: drop-shadow(0 0 .2rem #ffffff);
}

.social-bar {
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 12rem;
    display: flex;
    position: absolute;
    border-radius: 4rem;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    justify-content: space-evenly;
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-link {
    opacity: .5;
    color: #ffffff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: opacity .4s ease;
}

.social-link:hover {
    opacity: 1;
}

#introduction {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: url(images/intro-backdrop.jpg) fixed no-repeat;
    background-size: cover;
}

.introduction-container {
    height: 100%;
    display: flex;
    margin-block: 10rem;
    margin-inline: 16rem;
    justify-content: space-between;
}

.intro-tags,
.intro-text {
    width: 50%;
    overflow: hidden;
}

.intro-tags {
    background: #d9d9d9;
}

.intro-tag {
    color: #ffffff;
    font-size: 2.6rem;
    border-left: 0rem solid #ffffff;
    transition: border .4s ease-in-out;
}

.intro-tag:hover {
    border-width: 1rem;
}

.intro-text {
    display: flex;
    color: #272727;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.intro-text span {
    display: block;
}

/* Lenis CSS */

html.lenis, html.lenis body {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
  
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
  
.lenis.lenis-stopped {
    overflow: hidden;
}
  
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

@media (max-width: 1680px) {
    .header-title{
        font-size: 5.8rem;
    }

    .header-tagline{
        font-size: 3rem;
    }

    .header-img {
        height: 80%;
    }

    .magneto {
        width: 8rem;
        height: 8rem;
    }

    
    .introduction-container {
        width: 100%;
        height: 100%;
        display: flex;
        margin-inline: 5rem;
        justify-content: space-between;
    }
    
    .intro-tags,
    .intro-text {
        width: 50%;
        overflow: hidden;
    }
    
    .intro-tags {
        background: #d9d9d9;
    }
    
    .intro-tag {
        color: #ffffff;
        font-size: 2rem;
    }
    
    .intro-text {
        display: flex;
        color: #272727;
        font-size: 1.4rem;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1000px) {

    #splash {
        display: none;
        align-items: center;
        justify-content: center;
    }

    #splash-logo {
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
    }

    nav {
        height: 4rem;
        justify-content: space-between;
    }

    .nav-list {
        display: none;
    }

    #menu {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu .icon{
        font-size: 1.8rem;
    }

    header {
        height: 100dvh;
    }

    #header-logo {
        margin: 0;
        height: 1.4rem;
        position: static;
        display: inline-flex;
    }

    .header-container {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .header-content {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .social-bar {
        display: none;
    }

    .header-img {
        width: 100%;
    }

    .header-img img{
        bottom: 0;
        height: 90%;
        z-index: 3;
        position: absolute;
    }

    .header-text {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .header-title {
        margin: 0;
        font-size: 2rem;
        padding-block: 1rem;
    }
    
    .header-tagline {
        font-size: 1.6rem;
    }

    #typewriter-cursor {
        display: none;
    }

    .magneto {
        z-index: 4;
    }

    .introduction-container {
        height: 100%;
        flex-direction: column;
        margin-block: 0;
        margin-inline: 0;
    }

    .intro-tags,
    .intro-text {
        width: 100%;
        min-height: 15rem;
        text-align: center;
    }

    .intro-tags {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .intro-tag {
        font-size: 1.4rem;
    }

    .intro-text {
        background-color: #ffffff00;
    }
}

@keyframes splash {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bodyscroll {
    0% {
        overflow-y: hidden;
    }

    100% {
        overflow-y: auto;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes pulsate {
    0%{
        border-color: rgba(255, 255, 255, 0.3);
    }

    80% {
        filter: drop-shadow(0 0 .2rem #ffffff);
        border: 2px solid #ffffff;
    }

    100% {
        filter: none;
        border-color: rgba(255, 255, 255, 0.3);
    }
}

@keyframes logo-stroke {
    0% {
        fill: transparent;
        stroke: #ffffff;
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }

    50% {
        fill: transparent;
        stroke: #ffffff;
        stroke-width: 3;
    }

    80%{
        fill: transparent;
        stroke: #ffffff;
        stroke-width: 3;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }

    100% {
        stroke: transparent;
        fill: transparent;
        stroke-width: 0;
    }
}